<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=0">
    <meta name="author" content="Runc" />
    <title><%= title %></title>
    <link href="/css/materialize.min.css" rel="stylesheet" type="text/css" media="screen">
    <link href="/css/project.css" rel="stylesheet" type="text/css" media="screen">
    <link href="/css/user/user.css" rel="stylesheet" type="text/css" media="screen">
</head>

<body>
    <div class="top-panel">
        <div class="panel-icon"><i class="material-icons">rule</i></div>
        <div class="panel-title">调整插件设置</div>
    </div>
    <div class="card-content">
        <div class="card-title">选择一个设置</div>
        <div class="row" style="margin: 0;padding: 0 15px;">
            <% plugins.forEach((plugin) => { %>
            <a class="selectionBox waves-effect"
                href="/user/configureGroup/pluginConfig/display?groupId=<%- groupId %>&plugin=<%- plugin.plugin %>&table=<%- plugin.table %>">
                <div class="title"><%= plugin.name %></div>
                <div class="description"><%= plugin.description %></div>
                <i class="material-icons icon">navigate_next</i>
            </a>
            <% }); %>
            <a class="selection waves-effect" href="/user/configureGroup?groupId=<%- groupId %>"><i class="material-icons">arrow_back</i>
                <font>返回</font>
            </a>
        </div>
    </div>
    <script type="text/javascript" src="/js/materialize.min.js"></script>
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/index.js"></script>
</body>

</html>